<?xml version="1.0" encoding="UTF-8"?>
<!--配置该xml的约束文件-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <!--配置目标对象的Bean-->
    <bean id="service" class="com.aop.advice.instance02.SomeServiceImpl"/>
    <!--注册通知切面，即通知对象Bean：后置通知方法-->
    <bean id="serviceAdvice" class="com.aop.advice.instance02.MyAfterReturnningAdvice"/>

    <!--配置代理-->
    <!--代理工厂类Bean对象ProxyFactoryBean，由该工厂根据目标对象Bean和通知对象Bean返回增强后的目标Bean-->
    <bean id="serviceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <!--为代理配置目标对象-->
        <property name="target" ref="service"/>
        <!--配置切面对象-->
        <property name="interceptorNames" value="serviceAdvice"/>
    </bean>
</beans>